.contact-us__container {
  padding: 150px 20px;
  display: flex;
  justify-content: space-between;
}

.contact-us__form-wrapper {
  width: 415px;
  margin-left: 20px;
}

.contact-us__form-name {
  height: 50px;
  margin-bottom: 15px;
}

.contact-us__form-email {
  height: 50px;
  margin-bottom: 15px;
}

.contact-us__form-message {
  height: 150px;
  margin-bottom: 30px;
}

.contact-us__form-input {
  width: 100%;
  height: 100%;
  padding: 17px;
  margin-bottom: 15px;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  background-color: #f7f8ff;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  resize: none;
  
  &::placeholder {
    color: #8f99a8;
  }

  &:hover {
    border: 2px solid #ccd0e0;
  }

  &:focus {
    border: 2px solid #0075ff;
  }
}

.contact-us__form-btn {
  width: 100%;
  height: 55px;
  background-color: #0075ff;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-family: "Roboto", Helvetica, sans-serif;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, width 0.3s;
  &:hover {
    background-color: #005ecc;
    box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
  }

  &:focus {
    background-color: #005ecc;
    box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
  }
}

.contact-us__grey-legend {
  font-size: 14px;
  line-height: 27px;
  color: #9fadc2;
  margin-bottom: 10px;
}

.contact-us__inscription {
  font-size: 16px;
  line-height: 27px;
}

.contact-us__contacts-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-us__contacts-wrapper {
  width: 415px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .contact-us__container {
    display: block;
    padding: 60px 20px;
  }

  .contact-us__form-wrapper {
    margin-left: 0;
    width: 100%;
  }

  .contact-us__contacts-wrapper {
    display: block;
    width: fit-content;
  }

}
