h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  color: $scndryColor;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 700;
}

.text-blue {
  color: $scndryColor;
}

.article-text--bold {
  font-weight: 700;
}
